# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp

*.lock

# Xcode temporary files that should never be committed
*~.nib

# Xcode build files
DerivedData/
build/

# Xcode private settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3